.vscode/
.DS_Store

!.gitignore
!README.md

/scratch-vm/*
!/scratch-vm/src
/scratch-vm/src/*
!scratch-vm/src/extensions
/scratch-vm/src/extensions/*
!/scratch-vm/src/extensions/scratch3_tello
!scratch-vm/src/extension-support
/scratch-vm/src/extension-support/*
!/scratch-vm/src/extension-support/extension-manager.js

/scratch-gui/*
!/scratch-gui/src
/scratch-gui/src/*
!/scratch-gui/src/lib
/scratch-gui/src/lib/*
!/scratch-gui/src/lib/libraries
/scratch-gui/src/lib/libraries/*
!/scratch-gui/src/lib/libraries/extensions
/scratch-gui/src/lib/libraries/extensions/*
!/scratch-gui/src/lib/libraries/extensions/index.jsx
!/scratch-gui/src/lib/libraries/extensions/tello

/scratch-desktop/*
!/scratch-desktop/src
/scratch-desktop/src/*
!/scratch-desktop/src/renderer
/scratch-desktop/src/renderer/*
!/scratch-desktop/src/renderer/app.jsx
!/scratch-desktop/src/renderer/telloProcessor.js
!/scratch-desktop/src/main/
/scratch-desktop/src/main/*
!/scratch-desktop/src/main/index.js
!/scratch-desktop/src/main/TelloProcessor.js
